<!DOCTYPE html>
<html>
<head>
    <title>卸载 Google Chrome-九评酷容</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <p>真是遗憾，Google Chrome 不适合您。<del style="color:red;">卸载保平安。</del></p>
  <h4>Windows XP</h4>
  <p>Google Chrome 的删除方式与其他 Windows 程序相同。请按以下步骤操作：</p>
  <ol>
    <li>关闭所有 Chrome 窗口和标签页。</li>
    <li>依次打开<strong>开始菜单</strong> &gt; <strong>控制面板</strong>。</li>
    <li>点击<strong>添加或删除程序</strong>。</li>
    <li>双击 <strong>Google Chrome</strong>。</li>
    <li>点击<strong>删除</strong>。</li>
    <li>在确认对话框中点击<strong>卸载</strong>。如果您想删除自己的用户个人资料信息（例如您的浏览器偏好设置、书签和历史记录），请选中“同时删除浏览数据”复选框。</li>
  </ol>
  <p><h4>Windows Vista/Windows 7/Windows 8</h4></p>
  <ol>
    <li>关闭所有 Chrome 窗口和标签页。</li>
    <li>依次打开<strong>开始菜单</strong> &gt; <strong>控制面板</strong>（Windows 8 用户：<a target="_blank" href="http://windows.microsoft.com/zh-CN/windows-8/where-is-control-panel">了解如何访问“控制面板”</a>）。</li>
    <li>点击<strong>程序和功能</strong>。</li>
    <li>双击 <strong>Google Chrome</strong>。</li>
    <li>在确认对话框中点击<strong>卸载</strong>。如果您想删除自己的用户个人资料信息（例如您的浏览器偏好设置、书签和历史记录），请选中“同时删除浏览数据”复选框。</li>
  </ol>
  <p class="alert">您的 Chrome 是计算机中其他软件附带安装的吗？如果是，那么此版本的 Google Chrome 可能已安装在整个系统中，您需要在您的计算机上登录具有管理员权限的用户帐户，才能卸载该浏览器。如果 Google Chrome 是针对系统中的所有用户安装的，那么卸载该浏览器时会从计算机的所有用户帐户中都删除该程序。</p>
  <h4>Mac</h4>
  <p>
  <ol>
    <li>转至包含 Google Chrome 的文件夹。</li>
    <li>将 Google Chrome 拖到 Dock 中的垃圾桶图标上。如果 Chrome 安装在“应用”文件夹中，那么您需要拥有管理员权限才能将其删除。要从 Dock 中删除 Chrome，只需用鼠标将其拖出 Dock 即可。</li>
  </ol>
  </p>
  <h4>Linux</h4>
  <p>
  <ol>
    <li>依次转至<strong>应用 &gt; Debian &gt; 应用 &gt; 系统 &gt; 软件包管理 &gt; 新立得软件包管理器</strong>。</li>
    <li>在软件包列表中搜索“Google Chrome”。</li>
    <li>选中“Chrome 软件包”复选框。</li>
    <li>要彻底卸载（包含配置文件），请选中“标记以便彻底删除”。要在卸载时保存某些偏好设置，请选中“标记以便删除”。</li>
    <li>点击<strong>应用</strong>。</li>
    <li>选中“要彻底删除”菜单中的<strong> Chrome</strong>。</li>
    <li>点击<strong>应用</strong>。</li>
  </ol>
  </p>
</body>
</html>