<!DOCTYPE html>
<html>
<head>
    <title>Google Chrome 根本打不开-九评酷容</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h4>问题</h4>
<p>某些防病毒软件和防火墙应用程序可能会阻止您在计算机中打开 Chrome 浏览器。</p>
<h4>解决方案</h4>
<p>您可以暂时关闭计算机中的防病毒软件或防火墙应用程序，以便检查该问题是否是由此类应用程序导致的。关闭后，再尝试打开 Chrome 浏览器。如果能打开浏览器，则需要在防病毒或防火墙设置中为 Google Chrome 创建例外。完成上述操作后，您可以重新启用这些应用。</p>
<p>用户报告的冲突应用包括：</p>
<ul>
  <li>木马医生 (Spyware Doctor)</li>
  <li>毛豆防火墙 (Comodo Firewall)</li>
  <li>麦咖啡企业版 (McAfee Enterprise)</li>
</ul>
</body>
</html>