<!DOCTYPE html>
<html>
<head>
    <title>Google Chrome 根本打不开-九评酷容</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<p>当网页未正确显示时，就会出现“糟糕！”这一错误。在大多数情况下，您只需<strong>重新加载网页</strong>即可纠正该错误。如果您不断收到该错误，请尝试按以下建议操作。</p>
<h3>在计算机上</h3>
<p>如果您是在计算机上使用 Chrome，并且经常看到“糟糕！”这一错误，请尝试使用下面的问题排查选项。</p>
<p>某些防病毒或防火墙应用可能会阻止 Google Chrome 正常运行。要检查您是否属于这种情况，请按以下步骤操作：</p>
<h4>检查防病毒和防火墙应用</h4>
<p>
<ol>
<li>退出 Chrome。</li>
<li>暂时关闭所有防病毒和防火墙应用。</li>
<li>重新打开 Chrome。如果您没有看到“糟糕！”这一错误，则说明可能是这些应用在干扰或阻止 Chrome 运行。</li>
<li>在这些应用的设置中，将 Google Chrome 添加为例外（具体流程可能会因应用而异）。</li>
<li>仔细检查这些应用是否为最新版本。</li>
<li>重新开启这些应用。</li>
</ol>

<p><strong>注意</strong>：用户已举报下列应用会导致 Chrome 出现“糟糕！”问题：</p>

<ul>
<li>Symantec Endpoint Protection</li>
<li>Spyware Doctor</li>
<li>Comodo firewall</li>
<li>McAfee Enterprise</li>
<li>McAfee Virus Scan</li>
</ul>
</p>
<h4>检查扩展程序</h4>

<p>尝试逐个停用扩展程序，看看问题是不是由某个扩展程序引起的。具体操作步骤如下：</p>

<ol>
<li>在浏览器窗口的右上角，点击 Chrome 菜单 <img width="18" height="18" title="Chrome menu" alt="Chrome menu" src="//storage.googleapis.com/support-kms-prod/4003BF51063E6DC3E65713AE5B50EE797EE6">。</li>
<li>依次选择<strong>更多工具</strong> &gt; <strong>扩展程序</strong>。</li>
<li>对于您要测试的各个扩展程序，取消选中“已启用”。</li>
<li>刷新显示“糟糕！”的网页，看看是否还会出现该错误。</li>
</ol>

<p>您可以随时重新启用这些扩展程序。您可能需要刷新该页面才能使用已重新启用的扩展程序。<a href="https://support.google.com/chrome/chrome/answer/187443" target="_blank">详细了解如何管理扩展程序</a>。</p>
<h4>检查恶意软件</h4>
<p>您的计算机上可能安装了干扰 Chrome 的程序。请检查是否存在恶意软件以及您不记得是否为自己安装过的其他程序。</p>

<p><a href="https://support.google.com/chrome/answer/2765944" target="_blank">详细了解如何从计算机中移除恶意软件</a></p>

<p><strong>面向 Windows 用户的提示</strong>：如果您不确定要移除哪些程序，请尝试使用<a target="_blank" href="//www.google.com/chrome/srt/">软件清理工具</a>。这是一款应用，可搜索出您计算机上的可疑程序并主动帮您将其移除。</p>

<a href="https://support.google.com/chrome/answer/6086368" target="_blank">了解如何使用软件清理工具</a>
<h4>创建新的用户个人资料</h4>
<p>如果 Chrome 仍然显示“糟糕！”这一消息，则您的用户个人资料可能已经损坏。</p>

<p>要创建新的用户个人资料，请按以下步骤操作：</p>

<ol>
<li>退出 Chrome。</li>
<li>找到“Default”文件夹，它通常位于以下位置：
<ul>
<li><strong>Windows XP</strong>：<code>%USERPROFILE%\Local Settings\Application Data\Google\Chrome\User Data\</code>
</li><li><strong>Windows Vista/7/8</strong>：<code>%LOCALAPPDATA%\Google\Chrome\User Data\</code>
</li><li><strong>Mac OX</strong>：<code>~/Library/Application Support/Google/Chrome/Default</code></li>
<li><strong>Linux</strong>：<code>~/.config/google-chrome/Default</code></li>
</ul></li>
<li>将该文件夹重命名为“Old Default”。您的旧用户个人资料会保存在此文件夹中，但将不再有效。</li>
<li>重新启动 Chrome。</li>
</ol>

<a href="https://support.google.com/chrome/answer/142059" target="_blank">详细了解如何创建新的用户个人资料</a>
</body>
</html>