<!DOCTYPE html>
<html>
<head>
    <title>Google Chrome 根本打不开-九评酷容</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h3>问题</h3>
<p>如果计算机上的<a target="_blank" href="http://en.wikipedia.org/wiki/Winsock_LSP">分层服务提供程序</a> (LSP) 出现问题而导致 Chrome 浏览器无法载入请求的网页，就会出现此错误。具体而言，LSP 报告的写入套接字的数据比请求的数据更多。如果计算机上有恶意软件，或者计算机上的下载加速器使用的是有问题的 LSP，则可能出现这种情况。 </p> 

<h3>解决方法</h3>
<h4>检查计算机上是否有恶意软件</h4>

<p>Google 网页搜索帮助中心提供了有关如何从计算机中<a target="_blank" href="http://www.google.com/support/websearch/bin/answer.py?hl=zh-CN&amp;answer=8091">删除恶意软件</a>的说明。</p>

<h4>停用 LSP</h4>

<p>如果您已确定计算机中没有恶意软件，但该问题仍然存在，请使用 Windows Defender 的 Software Explorer 或其他第三方实用程序停用计算机上安装的 LSP。Microsoft 的支持网站提供了关于<a target="_blank" href="http://www.microsoft.com/windows/products/winfamily/defender/softwareexplorer.mspx">使用 Windows Defender 的 Software Explorer</a> 的详情。</p>
</body>
</html>