<!DOCTYPE html>
<html>
<head>
    <title>Google Chrome 根本打不开-九评酷容</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h3>问题</h3>
<p>如果您的 Windows 安装文件损坏了，系统就会显示此错误。</p>
<h3>解决方案</h3>
<h4>请检查受保护系统文件是否存在问题。</h4>
<p><strong>Windows XP</strong>：</p>
<ol>
  <li>转至<strong>开始菜单 &gt; 运行</strong>。</li>
  <li>在文本字段中输入以下内容：<code>cmd.exe</code>。</li>
  <li>点击<strong>确定</strong>。</li>
  <li>在打开的命令提示符窗口中，输入以下内容：<code>sfc /scannow</code><span>（请确保&nbsp;</span><code>sfc</code><span>&nbsp;与&nbsp;</span><code>/scannow</code><span> 之间有一个空格）</span>。该命令会启动 Microsoft 实用程序，扫描和修复计算机上受保护系统文件存在的问题。</li>
</ol>
<p><strong>Windows Vista/Windows 7</strong>：</p>
<ol>
  <li>转至<strong>开始菜单 &gt; 运行</strong>。</li>
  <li>在文本字段中输入以下内容：<code>cmd.exe</code>。</li>
  <li>当您在搜索结果中看到 cmd.exe 后，请右键点击相关程序并选择<strong>以管理员身份运行</strong>。</li>
  <li>在显示的确认窗口中点击<strong>是</strong>。</li>
  <li>在打开的命令提示符窗口中，输入以下内容：<code>sfc /scannow</code><span>（请确保&nbsp;</span><code>sfc</code><span>&nbsp;与&nbsp;</span><code>/scannow</code><span> 之间有一个空格）</span>。该命令会启动 Microsoft 实用程序，扫描和修复计算机上受保护系统文件存在的问题。</li>
</ol>
<p><strong>Windows 8</strong>：</p>
<ol>
  <li>转到<strong>搜索</strong>。</li>
  <li>点击<strong>应用</strong>。</li>
  <li>在搜索框中输入：cmd.exe。</li>
  <li>在搜索结果部分中右键点击“命令提示符”。</li>
  <li>点击<strong>以管理员身份运行</strong>。</li>
  <li>在显示的确认窗口中点击<strong>是</strong>。</li>
  <li>在打开的命令提示符窗口中，输入以下内容：<code>sfc /scannow</code><span>（请确保&nbsp;</span><code>sfc</code><span>&nbsp;与&nbsp;</span><code>/scannow</code><span> 之间有一个空格）</span>。该命令会启动 Microsoft 实用程序，扫描和修复计算机上受保护系统文件存在的问题。</li>
</ol>
<p>仍然有问题？请在<a target="_blank" href="http://www.google.com/support/forum/p/Chrome">帮助论坛</a>（仅限英文）告知我们。</p>
</body>
</html>