<!DOCTYPE html>
<html>
<head>
    <title>Google Chrome 根本打不开-九评酷容</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<p>
  Google Chrome可以恢复上一个浏览会话中的网页，因此，它可以最大程度地减少浏览器崩溃时所造成的损失。请按以下步骤操作：
</p>
<ol>
  <li>
    在Google Chrome崩溃后，打开新的浏览器窗口。
  </li>
  <li>
    找到窗口顶部的恢复消息：“Google Chrome未正确关闭。要重新打开您之前浏览的网页，请点击“恢复”。
  </li>
  <li>
    点击
    <strong>
      恢复
    </strong>
    。
  </li>
</ol>
<p class="lightbulb">
  请允许Google Chrome自动向Google
  <a href="https://support.google.com/chrome/answer/96817" target="_blank">
    发送使用情况统计信息和崩溃报告
  </a>
  ，帮助我们防止崩溃情况的发生。
</p>
</body>
</html>