<!DOCTYPE html>
<html>
<head>
    <title>Google Chrome 根本打不开-九评酷容</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
 <h3>问题</h3>
<p>如果 Chrome 浏览器无法保持打开状态，且没有显示错误讯息，则您的 Google Chrome 浏览器用户个人资料可能已经损坏。</p>
<h3>解决方法</h3>
<ul>
    <li>请确保您的防病毒或防火墙软件都是最新版本。</li>
    <li>尝试暂时停用防火墙。如果可解决该问题，请检查您的防火墙设置并确保其允许 <code>chrome.exe</code>。</li>
    <li>请尝试<a href="https://support.google.com/chrome/answer/142059" target="_blank">创建新的用户个人资料</a>，看看是否可以解决该问题。</li>
</ul>
<p>要向其他用户和我们的 Google 指导员寻求帮助，您可以在 <a target="_blank" href="//productforums.google.com/forum/#!forum/chrome-zh-cn"> Google Chrome 论坛</a>中发帖提问。</p>
<p class="lightbulb">请允许 Google Chrome 浏览器自动向 Google <a href="https://support.google.com/chrome/answer.py?answer=96817" target="_blank">发送使用情况统计信息和崩溃报告</a>，以便帮助我们防止崩溃情况的发生。</p>
</body>
</html>